@import "../dev/mixins";

.guestbook-form {
  margin: 40px auto 0;
  max-width: 600px;
  display: flex;
  flex-direction: column;

  .form-email, .form-phone, .form-feedback, .form-name {
    width: 100%;
  }

  .form-email, .form-phone, .form-name {
    height: 40px;
  }

  .form-feedback {
    height: 180px;
    resize: none;
  }

  .description {
    font-size: 10px;
    color: #919191;
  }

  .form-submit {
    @include btn ();
  }
}