.guestbook-form {
  margin: 40px auto 0;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.guestbook-form .form-email, .guestbook-form .form-phone, .guestbook-form .form-feedback, .guestbook-form .form-name {
  width: 100%;
}
.guestbook-form .form-item {
  margin-top: 15px;
}
.guestbook-form .form-email, .guestbook-form .form-phone, .guestbook-form .form-name {
  height: 40px;
}
.guestbook-form .form-feedback {
  height: 180px;
  resize: none;
}
.guestbook-form .description {
  font-size: 10px;
  color: #919191;
}
.guestbook-form .form-submit {
  background-image: none;
  margin-left: auto;
  padding: 12px;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  background-color: #131a47;
  color: #fff;
  margin-top: 20px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.guestbook-form .form-submit:hover {
  background-image: none;
  -webkit-transition: all ease-in-out 0.6s;
  transition: all ease-in-out 0.6s;
  background-color: #0b112a;
  color: #ffffff;
  border: none;
}
.guestbook-form .form-submit:focus {
  background: #131a47;
  color: #ffffff;
}